ul {
    list-style-type: none;
    padding-left: 50px;
}

li button {
    margin-right: 1em;
}

input:invalid {
    border: 1px solid red;
}

.form-row {
    margin-bottom: 0.5em;
}

.form-row div {
    color: #fff;
    font-size: 12px;
}